:root {
    --base-color: hsl(210, 50%, 50%);
    --base-hue: green;
    --secondary-color: hsl(330, 70%, 60%);
}

.colors-card,
.dynamic-colors-card {
    display: flex;
    flex-direction: column;
    width: 100%;

    .color {
        height: 80px;
    }
}

.dynamic-colors-card {
    background: hsl(var(--base-hue), 70%, 60%);
}

.colors-card {
    margin-bottom: 32px;

    .color_1 {
        background: var(--base-color);
    }
}

.dynamic-colors-card {
    .color_1 {
        background: var(--secondary-color);
    }
}