.button {
    padding: 8px 16px;
    anchor-name: --anchorName;
}

/* reset default styles */
[popover] {
    margin: 0;
    padding: 0;
    border: 0;
}

.popover {
    position: absolute;
    padding: 16px;
    max-width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #000;
    background-color: #fff;
    position-anchor: --anchorName;
    left: anchor(left);
    top: calc(anchor(100%) + 20px);
}